<!DOCTYPE html>
<html>
  <head>
    <script src="/lib/jquery-2.1.1.min.js"></script>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script>

    $(document).on('click', '.request-button', function(){
      var $that = $(this);
      var id = $that.data('id');
      var owner = $that.data('owner');
      var data = {
        id: id,
        owner: owner
      }
      $.post('/requests', data, function(result){
        if (result){
          $that.parent('.list-request').html("Request made.");
        }
        else {
          $that.next('.request-message').html("Request could not be made!")
        }
      });
    });

    $(document).on('click', '.item-cell', function(){
      var id = $(this).data('id');
      window.location.href = "/items/" + id;
    });
    </script>
  </head>

  <body>
    <% include header %>
    <div class="main">
      <h2 class="owner">All Items</h2><br>

      <table class="list-table">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Owner Name</th>
          <th>Description</th>
          <th></th>
        </tr>

        <% items.forEach(function(item) { if(currentUser.id == item.owner) { } else { %>
          <% requests.forEach(function(requests){

            });

          <tr class="item-row">
            <td class="list-item-img item-cell" data-id="<%= item.id %>"><img class="item-image" src='<%= item.image_link %>'></td>
            <td class="list-item-name item-cell" data-id="<%= item.id %>"><%= item.name %></td>
            <td class="list-item-name item-cell" data-id="<%= item.id %>"><%= item.owner_name %></td>
            <td class="list-item-description item-cell" data-id="<%= item.id %>"><%= item.description %></td>
            <td class="list-request"><button data-owner="<%= item.owner %>" data-id="<%= item.id %>" class="request-button">Request</button><span class="request-message"></span></td>
          </tr>
        <% } }); %>  

      </table>    
      <br>

    </div>

    <% include footer %>

  </body>
</html>
