<!DOCTYPE html>
<html>
  <head>
    <script src="/lib/jquery-2.1.1.min.js"></script>
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  </head>

  <body>
     <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1511022942514049',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <% include header %>

    <div class="main">
      <div class="image-large"><img class="image-large" src='<%= item.image_link %>'></div>
      <h2 class="owner"><%= item.name %></h2><br>
      <div class="item-about-extend">
        <div><em>Owner: </em><%= item.owner_name %></div>
        <div><em>About: </em><%= item.description %></div>
        <br>
        <button data-owner="<%= item.owner %>" data-id="<%= item.id %>" class="request-button">Request</button><span class="request-message"></span>
      </div>
      <br>

    </div>


    <div class="comments">
      <div class="fb-comments" data-href="http://localhost:3000/user/:id/items" data-numposts="5" data-colorscheme="light"></div>
    </div>

    <% include footer %>

  </body>
</html>
