<!DOCTYPE html>
<html>

  <head>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link type="text/css" href="css/requests.css" rel="stylesheet">
  </head>

  <body>
    <% include header %>
    <div class="main">

      <br><br>

      <div class="requests">
        <h3>Your Borrowed Items and Item Requests</h3>
        <table>
          <tbody>
            <tr>
              <td>User:</td>
              <td>Would Like to Use Your:</td>
            </tr>

            <% userRequests.forEach(function(request) { %>
              <tr>
                <td><%= request.borrower %></td>
                <td><%= request.item %></td>
                <td>
                  <button type="button" id="lend">LEND</button>
                  <button type="button" id="returned">RETURNED</button>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <br><br>

      <div class="borrowed">
        <h3>Items You've Borrowed</h3>
        <table>
          <tr>
            <td>Item:</td>
            <td>Owner:</td>
          </tr>

          <% borrowed.forEach(function(item) { %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.owner %></td>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>

    <% include footer %>
  </body>
</html>

<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script>
    $(document).on('click', '.return-button', function(){
      var $that = $(this);
      var id = $that.data('id');
      $.ajax({
        url: '/requests/' + id,
        type: "PUT", 
        data: {status: "returned"} })
      .done(function(result){
        if (result){
          $that.parent('.list-return').html("Return made.");
        }
        else {
          $that.next('.return-message').html("Return could not be made!")
        }
      });
    });
    $(document).on('click', '.accept-button', function(){
      var $that = $(this);
      var id = $that.data('id');
      $.ajax({
        url: '/requests/' + id,
        type: "PUT", 
        data: {status: "returned"} })
      .done(function(result){
        if (result){
          $that.parent('.list-accept').html("Accepted!");
        }
        else {
          $that.next('.accept-message').html("Accept failed.")
        }
      });
    });
    </script>
  </head>

  <body>
    <% include header %>
    <div class="main">
      <h2 class="owner">Your Requests</h2>
      <% include switch_views %>

      <table class="list-table">
        <tr>
          <th>Image</th>
          <th>Item Name</th>
          <th>Owner Name</th>
          <th>Request Status</th>
          <th>Actions</th>
        </tr>

        <% myRequests.forEach(function(item) { %>
          <tr>
            <td class="list-item-img"><img class="item-image" src='<%= item.image_link %>'></td>
            <td class="list-item-name"><%= item.name %></td>
            <td class="list-item-description"><%= item.owner_name %></td>
            <td class="list-item-name"><%= item.status %></td>
            <td class="list-return">
              <%= (item.status == 'loaned') ? "<button class='return-button' data-id='<%= item.id %>'>Return Item</a>" %>
              <span class="return-message"></span>
            </td>
          </tr>
        <% }); %>  

      </table>    
      <br>

    </div>

    <div class="main">
      <h2 class="owner">Requests For Your Stuff</h2>
      <% include switch_views %>

      <table class="list-table">
        <tr>
          <th>Image</th>
          <th>Item Name</th>
          <th>Requester Name</th>
          <th>Request Status</th>
        </tr>

        <% theirRequests.forEach(function(item) { %>
          <tr>
            <td class="list-item-img"><img class="item-image" src='<%= item.image_link %>'></td>
            <td class="list-item-name"><%= item.name %></td>
            <td class="list-item-description"><%= item.borrower_name %></td>
            <td class="list-item-name"><%= item.status %></td>
            <td class="list-accept">
              <%= (item.status == 'requested') ? "<button class='accept-button' data-id='<%= item.id %>'>Accept Request</a>" %>
              <span class="accept-message"></span>
            </td>
          </tr>
        <% }); %>  

      </table>    
      <br>

    </div>

    <% include footer %>

  </body>
</html>

