<!DOCTYPE html>
<html>
  <head>
    <script src="/lib/jquery-2.1.1.min.js"></script>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script>


    $(document).on('click', '.return-button', function(){
      var $that = $(this);
      var id = $that.data('id');
      $.ajax({
        url: '/requests/' + id,
        type: "PUT", 
        data: {status: "returned"} })
      .done(function(result){
        if (result){
          $that.parent('.list-return').html("Return made.");
        }
        else {
          $that.next('.return-message').html("Return could not be made!")
        }
      });
    });
    $(document).on('click', '.accept-button', function(){
      var $that = $(this);
      var id = $that.data('id');
      $.ajax({
        url: '/requests/' + id,
        type: "PUT", 
        data: {status: "loaned"} })
      .done(function(result){
        if (result){
          $that.parent('.list-accept').html("Accepted!");
        }
        else {
          $that.next('.accept-message').html("Accept failed.")
        }
      });
      $.ajax({
        url: '/item/' + id,
        type: "PUT", 
        data: {status: "loaned"} })
      .done(function(result){
        if (result){
          $that.parent('.list-accept').html("Accepted!");
        }
        else {
          $that.next('.accept-message').html("Accept failed.")
        }
      });
    });
    </script>
  </head>

  <body>
    <% include header %>
    <div class="main">
      <h2 class="owner">Your Requests</h2><br>

      <table class="list-table">
        <tr>
          <th>Image</th>
          <th>Item Name</th>
          <th>Owner Name</th>
          <th>Request Status</th>
          <th>Actions</th>
        </tr>

        <% myRequests.forEach(function(item) { %>
          <tr>
            <td class="list-item-img"><img class="item-image" src='<%= item.image_link %>'></td>
            <td class="list-item-name"><%= item.name %></td>
            <td class="list-item-description"><%= item.owner_name %></td>
            <td class="list-item-name"><%= item.status %></td>
            <td class="list-return">
              <%- (item.status == 'loaned') ? "<button class='return-button' data-item='" + item.item_id + "'  data-id='" + item.id + "'>Return Item</a> " : "" %>
              <span class="return-message"></span>
            </td>
          </tr>
        <% }); %>  

      </table>    
      <br>

    </div>

    <div class="main">
      <h2 class="owner">Requests For Your Stuff</h2><br>

      <table class="list-table">
        <tr>
          <th>Image</th>
          <th>Item Name</th>
          <th>Requester Name</th>
          <th>Request Status</th>
          <th>Actions</th>
        </tr>

        <% theirRequests.forEach(function(item) { %>
          <tr>
            <td class="list-item-img"><img class="item-image" src='<%= item.image_link %>'></td>
            <td class="list-item-name"><%= item.name %></td>
            <td class="list-item-description"><%= item.borrower_name %></td>
            <td class="list-item-name"><%= item.status %></td>
            <td class="list-accept">
              <%- (item.status == 'requested') ? "<button class='accept-button' data-item='" + item.item_id + "' data-id='" + item.id + "'>Accept Request</a>" : "" %>
              <span class="accept-message"></span>
            </td>
          </tr>
        <% }); %>  

      </table>    
      <br>

    </div>

    <% include footer %>

  </body>
</html>

