<!DOCTYPE html>
<html>

  <head>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link type="text/css" href="css/requests.css" rel="stylesheet">
  </head>

  <body>
    <% include header %>
    <div class="main">

      <br><br>

      <div class="requests">
        <h3>Your Borrowed Items and Item Requests</h3>
        <table>
          <tbody>
            <tr>
              <td>User:</td>
              <td>Would Like to Use Your:</td>
            </tr>

            <% userRequests.forEach(function(request) { %>
              <tr>
                <td><%= request.borrower %></td>
                <td><%= request.item %></td>
                <td>
                  <button type="button" id="lend">LEND</button>
                  <button type="button" id="returned">RETURNED</button>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      </div>

      <br><br>

      <div class="borrowed">
        <h3>Items You've Borrowed</h3>
        <table>
          <tr>
            <td>Item:</td>
            <td>Owner:</td>
          </tr>

          <% borrowed.forEach(function(item) { %>
            <tr>
              <td><%= item.name %></td>
              <td><%= item.owner %></td>
            </tr>
          <% }) %>
        </table>
      </div>
    </div>

    <% include footer %>
  </body>
</html>

<html>
  <head>
    <link type="text/css" href="css/style.css" rel="stylesheet">
    <link type="text/css" href="css/list.css" rel="stylesheet">
  </head>

  <body>
    <% include header %>
    <div class="main">

      <h2 class="owner">Requests for Your Items</h2>
      <% include switch_views %>

      <table class="list-table">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
        </tr>

        <% userRequests.forEach(function(item) { %>
          <tr>
            <td class="list-item-img"><img class="item-image" src='<%= item.image_link %>'></td>
            <td class="list-item-name"><%= item.name %></td>
            <td class="list-item-description"><%= item.description %></td>
          </tr>
        <% }); %>  

      </table>    

      <% include new_item %>

    </div>

        <div class="main">

      <h2 class="owner">Requests You've Made</h2>
      <% include switch_views %>

      <table class="list-table">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
        </tr>

        <% borrowed.forEach(function(item) { %>
          <tr>
            <td class="list-item-img"><img class="item-image" src='<%= item.image_link %>'></td>
            <td class="list-item-name"><%= item.name %></td>
            <td class="list-item-description"><%= item.description %></td>
          </tr>
        <% }); %>  

      </table>    

      <% include new_item %>

    </div>

    <% include footer %>

  </body>
</html>
