<!DOCTYPE html>
<html>
  <head>
    <script src="/lib/jquery-2.1.1.min.js"></script>
    <link type="text/css" href="/css/style.css" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

    <script>
      $(document).on('click', '.request-button', function(){
        var $that = $(this);
        var id = $that.data('id');
        var data = {
          id: id
        }
        $.post('/requests', data, function(result){
          if (result){
            $that.parent('.list-request').html("Request made.");
          }
          else {
            $that.next('.request-message').html("Request could not be made!")
          }
        });
      });

      $(document).on('click', 'tr.item-row', function(){
        var id = $(this).data('id');
        window.location.href = "/items/" + id;
      });
    </script>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1511022942514049',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
  </script>
    <% include header %>
    <div class="main">
      <h2 class="owner"><%= user.name %>'s Items</h2><br>

      <table class="list-table">
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Description</th>
          <% if (user.id  == currentUser.id){ %>
            <th>Where is it?</th>
          <% } %>
        </tr>

        <% items.forEach(function(item) { %>
          <tr class="item-row" data-id="<%= item.id %>">
            <td class="list-item-img"><img class="item-image" src='<%= item.image_link %>'></td>
            <td class="list-item-name"><%= item.name %></td>
            <td class="list-item-description"><%= item.description %></td>
            <% if (user.id  ==  currentUser.id){ %>
              <td class="list-item-name"><%= item.resides_at_name %></td>
            <% } %>
          </tr>
        <% }); %>  

      </table>
            <% include new_item %>
    
      <br>

    </div>


    <div class="comments">
      <div class="fb-comments" data-href="https://intense-chamber-5849.herokuapp.com/<%= item.id %>id/items" data-numposts="5" data-colorscheme="light"></div>
    </div>

    <% include footer %>

  </body>
</html>
